export AZURE_APP_ID=8c42f881-e55a-4e2b-913d-159bf11ba9b0
export AZURE_APP_SECRET=Be37Q~aCaI43ociP4olcbEtG5kDdoL.L6DnEo
export AZURE_SCOPES="openid profile email offline_access user.read mailboxsettings.read calendars.readwrite"