.row.align-items-center.justify-content-center{style:"height: 500px"}
  .col-md-auto
    %h1.text-center.m-5 Login
    = link_to "Microsoft365 Login", "/auth/microsoft_graph_auth", class: "btn btn-primary btn-lg login-btn", method: :post
